* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body {
    background: radial-gradient(
        1200px 600px at 70% 40%,
        rgba(60, 179, 113, 0.25),
        transparent 60%
      ),
      #0b0f0d;
    color: #fff;
    font-family: "Inter", sans-serif;

      overflow-x: hidden;
  }



.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
