.features {
  margin-top: -120px;
  padding-bottom: 120px;
}

.features__container {
  position: relative;
}

.features__badge {
  position: absolute;
  top: -35px;
  left: 60px;
  width: 100px;
  height: 100px;
  background: #3cb371;
    clip-path: polygon(
    50% 0%, 62% 8%, 75% 5%, 82% 18%, 95% 25%, 92% 38%,
    100% 50%, 92% 62%, 95% 75%, 82% 82%, 75% 95%,
    62% 92%, 50% 100%, 38% 92%, 25% 95%, 18% 82%,
    5% 75%, 8% 62%, 0% 50%, 8% 38%, 5% 25%, 18% 18%,
    25% 5%, 38% 8%
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 14px;
  box-shadow: 0 15px 40px rgba(60,179,113,.6);
}

.features__box {
  background: #fff;
  border-radius: 40px;
  padding: 80px 70px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  box-shadow: 0 60px 120px rgba(0,0,0,.35);
}

.feature {
  flex: 1;
  text-align: center;
}

.feature__icon {
  width: 130px;
  height: 130px;
  margin: 0 auto 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__icon img {
  width: 90px;
  z-index: 2;
  transition: .3s;
}

.feature__glow {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(32, 255, 129, 0.8), transparent 70%);
  filter: blur(-152px);
}

.feature h3 {
  color: #111;
  font-size: 22px;
  margin-bottom: 10px;
}

.feature p {
  color: #666;
  font-size: 15px;
}